body { 
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* header */
header {
    background-color: #000;
    text-align: center;
    border-top: #950000 solid 6px;
    border-bottom: #950000 solid 6px;
}
header p {
    text-align: center;
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    position: relative;
}
.logo {
    width: 50%;
    height: auto;
    padding-top: 4px;

}
.logo2 {
    width: 60%;
    height: auto;
    padding-top: 28px;

}
.logo3 {
    width: 60%;
    height: auto;
    padding-top: 28px;

}

/* Section 1 */
.home {
    background-image: url(../images/fondbase.jpg);
    height: 2000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
article {
    position: relative;
    height: 100%;
}
article h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #fff;
    border: #fff solid 2px;
    width: 450px;
    margin: 4px auto;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px #fff;
    border-color: #950000;
    font-size: 30px;
}
#fumee {
    width: 105%;
}

/* Section 2 */
.heros {
    background-color: #000;
    height: 900px;
    background-image: url(../images/Assassins_Creed4.jpg);
}

#fumeeb {
    width: 105%;
    transform: rotate(180deg)
}

#parallax-img-1 {
    width: 50px;
    height: auto;
    transform: rotate(14deg)
}
#parallax-img-2 {
    width: 150px;
    height: auto;
    transform: rotate(-14deg)
}
#parallax-img-3 {
    width: 70px;
    height: auto;
    transform: rotate(-10deg)
}

#parallax-img-4 {
    width: 40px;
    height: auto;
    transform: rotate(30deg)
}
#parallax-img-5 {
    width: 60px;
    height: auto;
    transform: rotate(-30deg)
}
#parallax-img-6 {
    width: 30px;
    height: auto;
    transform: rotate(10deg)
}
#parallax-img-7 {
    width: 80px;
    height: auto;
    transform: rotate(-20deg)
}
#parallax-img-8 {
    width: 80px;
    height: auto;
    transform: rotate(-20deg)
}
#parallax-img-9 {
    width: 20px;
    height: auto;
    transform: rotate(20deg)
}
#parallax-img-10 {
    width: 750px;
    height: auto;
}
#parallax-img-11 {
    width: 450px;
    height: auto;
}




/* Footer */

.linear-gradient {
  background: linear-gradient(#000, #950000);
  text-align: center;
  color: #fff;
  font-family: 'Noto Serif', serif;
  padding-top: 5px;
}
.scroll-top {
    text-align: center;
}
.scroll-top a i:hover {
    color: #950000;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}
.github {
    text-align: center;
}
.github a i:hover {
    color: #950000;
}
.github a i {
    color: #fff;
    font-size: 25px;
}
.linear-gradient {
    padding-top:20px;
}