body { 
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.home {
    background-image: url(../images/fondbase.jpg);
    height: 2000px;
    -moz-background-size: cover;
    background-size: cover;
}
article {
    position: relative;
    height: 100%;
}
.heros {
    background-color: #000;
    height: 1000px;
}
#fumee {
    width: 105%;
}