body { 
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* header */
header {
    height: 165px;
    background-color: #000;
    text-align: center;
    border-top: #950000 solid 6px;
    border-bottom: #950000 solid 6px;
}
header p {
    text-align: center;
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    position: relative;
}
.logo {
    width: 50%;
    height: auto;
    padding-top: 4px;

}
.logo2 {
    width: 60%;
    height: auto;
    padding-top: 28px;

}
.logo3 {
    width: 60%;
    height: auto;
    padding-top: 28px;

}

/* Section 1 */
.home {
    background-image: url(../images/fondbase.jpg);
    height: 2000px;
    -moz-background-size: 101%;
    background-size: 101%;
}
article {
    position: relative;
    height: 100%;
}
#fumee {
    width: 105%;
}

/* Section 2 */
.heros {
    background-color: #000;
    height: 900px;
    background-image: url(../images/Assassins_Creed4.jpg);
}

#fumeeb {
    width: 105%;
    transform: rotate(180deg)
}

#parallax-img-1 {
    width: 50px;
    height: auto;
    transform: rotate(14deg)
}
#parallax-img-2 {
    width: 150px;
    height: auto;
    transform: rotate(-14deg)
}
#parallax-img-3 {
    width: 70px;
    height: auto;
    transform: rotate(-10deg)
}

#parallax-img-4 {
    width: 40px;
    height: auto;
    transform: rotate(30deg)
}
#parallax-img-5 {
    width: 60px;
    height: auto;
    transform: rotate(-30deg)
}
#parallax-img-6 {
    width: 30px;
    height: auto;
    transform: rotate(10deg)
}
#parallax-img-7 {
    width: 80px;
    height: auto;
    transform: rotate(-20deg)
}
#parallax-img-8 {
    width: 80px;
    height: auto;
    transform: rotate(-20deg)
}
#parallax-img-9 {
    width: 20px;
    height: auto;
    transform: rotate(20deg)
}
#parallax-img-10 {
    width: 750px;
    height: auto;
}
#parallax-img-11 {
    width: 450px;
    height: auto;
}




/* Footer */

footer {
    height: 50px;
    background-color: #fff;
    text-align: center;
    font-family: 'Noto Serif', serif;
    padding-top: 5px;
}